HR_catalogue_schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:type="http://www.example/HRCatalogue/types">  <!-- TODO use xmlns:type-->

    <xs:simpleType name="rankType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Junior"/>
            <xs:enumeration value="Mid"/>
            <xs:enumeration value="Senior"/>
            <xs:enumeration value="Intern"/>
            <xs:enumeration value="Lead"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="employmentType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="full-time"/>
            <xs:enumeration value="part-time"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="skillType"> <!-- TODO maybe should not have restriction as it may be Java 23-->
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="personalDataType">
        <xs:sequence>
            <xs:element name="age" type="xs:nonNegativeInteger"/>
            <xs:element name="experience" type="xs:nonNegativeInteger"/> <!-- TODO Check how is it to make double-->
            <xs:element name="salary" type="xs:nonNegativeInteger"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="skills">
        <xs:sequence>
            <xs:element name="skill" type="skillType" maxOccurs="unbounded" /> <!-- Iskame skills da sysydrja samo <skill> i da sa bezkr mnogo-->
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="employeeType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="rank" type="rankType"/>
            <xs:element name="employment">
                <xs:complexType>
                    <xs:attribute name="type" type="employmentType" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="personalData" type="personalDataType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="subgroupType">
        <xs:sequence>
            <xs:element name="employee" type="employeeType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
        <xs:attribute name="groupRef" type="xs:IDREF" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="groupType">
        <xs:sequence>
            <xs:element name="subgroup" type="subgroupType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:element name="hr_catalogue">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="groups" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="group" type="groupType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>